{:deps
 {org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/data.generators {:mvn/version "0.1.2"}
  org.clojure/clojure {:mvn/version "1.11.2"}
  com.datomic/peer {:mvn/version "1.0.7075"}}
 :paths ["src" "resources"]
 :mvn/repos {"my.datomic.com"
             {:url "https://my.datomic.com/repo"}}
 :aliases
 {;; edit this if you're using a newer version of REBL
  :rebl {:extra-deps {com.cognitect/rebl {:mvn/version "0.9.245"}}}}}
